
body{
	background: rgb(160, 184, 215 );
	
	}

h1{font-color: white; font-size: 14px;font-family; georgian 

}
p{padding-left:10px; padding-right:10px;font-family; georgian }
ul{background: rgb(250, 250, 250); list-style-type: square; }